* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-evenly;
  margin: 10px auto;
  padding: 2rem;
  width: 80%;
}

.container > div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  height: 500px;

  width: 30%;
}
.container div:nth-child(1),
.container div:nth-child(3) {
  border: 1px solid black;
  border-radius: 1rem;
  overflow-y: auto;
  padding: 0.5rem;
}

.container div.botones {
  justify-content: flex-end;
}

img {
  height: 100px;
  width: 100px;
}
